@reference "./globals.css";

@layer utilities {
  .blog {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-head md:ml-4;
      color: oklch(var(--bc));
    }
    p {
      @apply md:ml-8;
      color: oklch(var(--bc) / 0.7);
      code {
        background-color: oklch(var(--b3));
        color: oklch(var(--bc));
      }
    }
  }
}
