@import 'tailwindcss';

@plugin "daisyui" {
  themes: pastel;
}

@plugin "@tailwindcss/typography";

@theme {
  --font-title: 'Hachi Maru Pop';
  --font-head: 'Kosugi Maru';
  --font-body: 'Noto Sans JP';
}
